@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital,wght@1,400;1,700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root{
   --primary-text-color:#183b56;
   --secondary-text-color:#577592;
   --accent-color-dark:#1d69a3;
   --padding-inline-section:20px;
   --accent-color:#2294ed;
}
body{
   font-family: 'Poppins',sans-serif;
   color: var(--primary-text-color);

}
h1{
   font-size: 3rem;
}
h2{
   font-size: 2rem;
}
h3{
   font-size: 1.5rem;
}
p{
   font-family: 'Roboto'sans-serif;
   font-size: 1.25rem;
   color: var(--secondary-text-color);
   line-height: 1.8rem;
}
a{
   text-decoration: none;
   display: inline-block;
}
ul li{
   list-style: none;
}
/* utility classes  */
.small-bold-text{
   font-size: 1rem;
   font-weight: 700;
}
.container{
   max-width: 1180px;
   margin-inline: auto;
   padding-inline: var(--padding-inline-section);
}
.flex{
   display: flex;
   align-items: center;
}
.hover-links{
   color:var(--primary-text-color);
   transition: 0.3s ease-out;
   
}

.hover-links:hover{
   color:var(--accent-color);

}
.primary-btn {
   background-color: var(--accent-color);
   border-radius: 6px;
   font-weight: 700;
   padding: 12px 24px;
   color: white !important;
   box-shadow: 0 0 2px var(--secondary-text-color);
   transition: 0.2s ease-out;
}
.primary-btn:hover{
 background-color: var(--accent-color-dark);
}
.secondary-btn{
   border: 0.5px solid var(--secondary-text-color);
   border-radius: 6px;
   font-weight: 700;
   color: var(--primary-text-color) !important;
   padding: 12px 24px ;
   transition: 0.2s ease-out;
}
.secondary-btn:hover{
   border-color: var(--accent-color);
}
/* top-banner */

.top-banner{
   background-color:#e74694;
   background-image: url(./assets/photo30.png);
   background-size: 300px;
}
.banner-text {
   color: #ffff;
   padding: 15px 30px;
   text-align: center;
}
/* navber */
.main-nav{
  margin-top: 20px;
   justify-content: space-between;
}
.companey-logo img{
   width:200px;
}
.navber {
   flex-basis:730px;
}
.navber ul{
   justify-content: end;
   gap: 40px;
}
/* header section  */
header{
   padding: 50px var(--padding-inline-section) 0;

}
.header-section{
   justify-content: center;
   gap: 50px;
}
.header-left{
   max-width: 40vw;
}
.header-right img{
   width: 600px;
}
.header-left h1{
   margin-top: 20px ;
}
.header-btn{
   margin-top: 20px;
}
/* companey-section */
.companeny-text{
   margin-block: 30px;
   font-weight: 400;
   text-align: center;
   color: var(--primary-text-color);
}
.companies-logo{
   justify-content:space-between;
}
.logo{
   height: 45px;
}
/* features-section */
.features-section{
   background: url(./assets/ovel.svg);
   padding: 80px var(--padding-inline-section)0;
   background-repeat: no-repeat;
   background-position: center;
}
.top-features{
   text-align: center;
   
}
.top-features>h3{
font-weight:500;
color: var(--primary-text-color);
margin-bottom: 20px;
}
i{
   color: #2294ed;
}
.features-area{
   flex-wrap: wrap;
   justify-content:space-between;
   gap: 30px;
   margin-top: 20px;
}
.featues-card{
   flex-direction: column;
   gap: 20px;
   max-width: 30%;
   text-align: center;
  
}
.big-feature-section{
padding: 40px var(--padding-inline-section) 0;
}
.big-feature-containera {
gap: 40px;
}
.left-feature img{
   width: 100%;

}

.right-featuer{
   flex-direction: column;
   align-items: flex-start;
}
.fast-img{
   height: 35px;
}
.nick{
   margin-top: 30px;
   gap: 10px;
}
.nick img{
   height: 50px;
}
.nick h4{
   color: var(--padding-inline-section);
   font-weight: 500;
}

.nick p{
   font-size: 15px;
   color: var(--secondary-text-color);
   
}
.back-colon{
   background-image: url(./assets/colon.svg);
   background-repeat: no-repeat;
  
}